{
  "presets": ["es2015-native-modules"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
